@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 67% 92%;
    --foreground: 240 10% 3.9%;
    --card: 120 67% 92%;
    --card-foreground: 240 10% 3.9%;
    --popover: 120 67% 92%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 120 60% 34%;
    --primary-foreground: 60 93% 98%;
    --secondary: 120 20% 88%;
    --secondary-foreground: 120 60% 34%;
    --muted: 120 20% 88%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 39 100% 50%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 93% 98%;
    --border: 120 20% 80%;
    --input: 120 20% 80%;
    --ring: 120 60% 34%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 60 93% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 60 93% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 60 93% 98%;
    --primary: 120 60% 34%;
    --primary-foreground: 60 93% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 60 93% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 39 100% 50%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 93% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 120 60% 34%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
